
.padding_list{
	padding:0px !important;
	margin:0px;
}

#padding_list{
	padding-top:0px !important;
	margin:0px;
}

/*页头*/
.header{
	padding:10px;
}
.header:after{
	content:'';
	display:block;
	clear:both;
}
.header .tit {
	float:left;
	text-align:center;
	width:60%;
	font:18px/44px "微软雅黑";
	height:44px;
	font-weight:700;
	color:rgb(221, 39, 39);
	padding:0 !important;
}
.header i{
	height:30px;
	font:25px/44px "微软雅黑" !important;
	width:15%;
	text-align:center;
	float:left;
}
.goon i{
	font-size:15px !important;
	font-weight:700 !important;
	color:rgb(221, 39, 39);
}

/*轮播图*/
.content-header .box{
	width:472px;
	height:112px;
}
.content-header .box img{
	width:472px;
	height:112px;
}

/*热销*/
.good{
	width:100%;
}
.good:after{
	content:'';
	display:block;
	clear:both;
}
.good-left{
	position:relative;
	float:left;
	width:155px;
	height:194px;
	box-sizing:border-box;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
}
.good-left img{
	width:155px;
	height:194px;
}
.good-right{
	
	float:left;
	width:203px;

}
.good-right img{
	display:block;
	width:203px;
	height:96px;
}
.good-right > div{
	border-bottom:1px solid #ccc;
	position:relative;
}

.good-top{
	position:absolute;
	left:5px;
	top:5px;
}
.good-top h6{
	font-size:16px;
}
.good-top p{
	font-size:12px;
	color:red;
}

/*排行*/

.my-rank{
	margin-top:5px;
	width:100%;
}
.rank-header{
	background-color:rgb(248, 248, 248);
	width:100%;
	border-left:3px solid rgb(36, 96, 224);
}
.rank-header h2{
	font:16px/40px "微软雅黑" ;
	display:inline-block;
	margin-left:5px;
}
.rank-header h3{
	font:12px/40px "微软雅黑";
	display:inline-block;
	margin-left:5px;
	color:rgb(153, 153, 153);
}
.my-rank ul{
	box-sizing:border-box;
	padding:0px;
	height:48px;
	position:relative;
}
.my-rank ul li{
	padding:0px;
	text-align:center;
}

.my-rank ul li {
	box-sizing:border-box;
	height:48px;
	border-bottom:3px solid #fff;
	font:15px/48px "微软雅黑";
}
.my-rank ul a{
	color:rgb(153, 153, 153);
}
.my-rank ul li.dang{
	border-bottom:3px solid rgb(57, 191, 169) !important;
}
.my-rank ul li.dang a{
	color:rgb(57, 191, 169);
	font-weight:700;
}

.span-move{
	display:block;
	width:25%;
	height:4px;
	background-color:rgb(57, 191, 169);;
	position:absolute;
	top:44px;
	left:0px;
}

/*书*/
.book_div{
	height:25px;
	width:250px;

}
.book_price{
	margin-top:15px;
	color:red !important;
	font-size:16px !important;
}
.my_book_button{
	margin-left:120px !important;
}
.scroll_buttom{
	height:0px !important;
}

/*详情页*/
.newpage{
	background-color:#F4F4F4;
	padding:0px;
}
.newpage .ion-left{
	font:20px !important;
	padding:0px;
	height:40px;
}
.ion-large{
	font-size:25px !important;
}
.newpage ul li{
	width:31%;
	line-height:30px;
	text-align:center;
	border-top:3px solid  #fff;
}
.newpage .dangList{
	border-top:3px solid  #c40000;
	color: #c40000;
	
}
.my_image img{
	display:block;
	width:100%;
}
.list_span{
	display:inline-block;
	width:1px !important;
	height:24px;
	margin-top:3px;
	background-color:#ccc;
}
.my_div{
	padding:5px;
	margin-top:10px;
}
.tag{
	background-color: #fb6878 !important;
    color: #fff;
    height: 20px;
    line-height:20px;
    display: inline-block;
   /* padding: 0 .04em;*/
    margin-left: 100px;
    font-size: 12px;
    right: -5px;
}
.page_div h1{ 
	font-size:18px;
	font-weight:700;
	line-height:40px;
}
.page_div p{
	color:#fb6878;
	font-size:30px;
	line-height:40px;
}
.page_left,.page_middle,.page_right{
	color:rgb(153, 153, 153);
	font:12px;
	line-height:20px;
}
.page_left{
	text-align:left;
}
.page_middle{
	text-align:center;
}
.page_right{
	text-align:right;
}
.articleTabsYx{
  width: 44px;
  display: inline-block;
  margin:0;
  height:44px;
  text-align: center;
  color: #5D5F6A;
}
.articleTabsYx i{
  font-size: 20px;
}
.clearpadding{
	overflow:hidden;
	padding: 0;
}
.clearborder{
	border:none;
}
.page_pl{
	margin-top:20px;
}
/*登录页*/
.admin_image img{
	display:block;
	width:100%;
}
.admin_left{
	margin-left:220px;
}


/*注册*/
.my_register{
	overflow:hidden;
}
.my_register > div{
	overflow:hidden;
	margin-top:10px !important;
}
.text-success{
	color:#ccc;
	font-size:14px;
	line-height:50px;
}
.text-danger{
	color:red;
	font-size:14px;
	line-height:50px;
}
/*购物车*/
.shopcar > div >div{
	text-align:center;
} 
.shopcar h3{
	font-size:20px;
	line-height:35px;
}
.my_ion{
	width:10px !important;
	height:10px !important;
	border:0px;
}
.my_i{
	display:inline-block;
	width:25px;
	height:25px;
	padding:5px;
	background-color:#ccc;
	border-radius:4px;
	margin-left:4px;
}
.my_span{
	color:red;
	display:inline-block;
	font-size:20px;
}
.my_shop_footer{
	overflow:hidden;
}
#my_fixed{
	position:fixed;
	bottom:48px;
	left:0px;
	border:1px solid #ccc;
}
.myarea{
	border:0px solid #fff !important;
}
.my_box{
	border:1px solid #ccc;
}