<ion-header-bar  align-title="center" class="bar-stable">	
	<h1 class="title">个人中心</h1>
	</ion-header-bar>
<ion-content class="has-header">
	<div class="list">

    <a class="item item-avatar" href="#" style="background-color:#F8F8F8">
      <img src="./images/9.jpg">
      <h2 style="margin-left:100px">用户：<span style="color:red">{{username}}</span></h2>
    </a>
    <a class="item" ng-click="ready()" style="background-color:#F8F8F8;text-align:center">
    <h2 style="font-size:20px;border-weight:700">订 单 信 息</h2>
  </a>
   <a class="item" style="background-color:#F8F8F8;text-align:center" ng-click="gorevice()">
    <h2 style="font-size:20px;border-weight:700">修改密码</h2>
  </a>
  <a class="item" style="background-color:#F8F8F8;text-align:center" ng-click="destroy()">
    <h2 style="font-size:20px;border-weight:700">注销账户</h2>
  </a>


  
</div>
<ion-content>	
