<ion-header-bar class="newpage ">
			<div class="row padding_list">
				<div class="col-10 ion-left" ng-click="back()"><i class="ion-ios-arrow-back ion-large"></i></div>
				<div class="col-90">
					<ul class="row padding_list">
						<li class=" dangList">基本信息</li>
						<span class="list_span"></span>
						<li class="">商品详情</li>
						<span class="list_span"></span>
						<li  ng-click="goCom()">评价1231</li>
					</ul>
				</div>
			</div>
			
</ion-header-bar>
		<ion-content class="has-footer has-header" overflow-scroll="false" has-bouncing="true">
			<div class="my_image">
				<a href="#">
					<img ng-src="/Admin/{{book_new.images[0].image_name}}" alt="">
				</a>

			</div>
			<div class="row page_div">
				<h1>{{book_new.title}}</h1>
			</div>
			<!-- <div>
				{{book_new.desc}}
			</div> -->
			<div class="row page_div">
				<p>{{book_new.price | currency : "&yen;"}} <em class="tag">限时促销</em></p>
			</div>
			<div class="row">
				<div class="col-33 page_left"><span>快递：0.00</span></div>
				<div class="col-33 page_middle" ><span>月销量：12345件</span></div>
				<div class="col-33 page_right"><span>北京</span></div>

			</div>
			<div class="page_pl">
				<div class="row">详情</div>
				<div ng-bind-html="desc"></div>
			</div>
			
	</ion-content>
	<div class="bar bar-footer light-bg clearpadding">
		<div class="row clearpadding">
			<div class="col">
				<div class="articleTabsYx">
					<i class="icon ion-ios-home-outline"></i>
					<p>首页</p>
				</div>
				<div class="articleTabsYx">
					<i class="icon ion-ios-star-outline"></i>
					<p>收藏</p>
				</div>
				<div class="articleTabsYx" >
					<i class="icon ion-ios-cart-outline"></i>
					<p>购物车</p>
				</div>
			</div>
			
			<div class="col-30 clearpadding">
				<button class="button button-positive button-full" style="margin:0;height:44px;" ng-click="addShopcar()">加入购物车</button>
			</div>
			<div class="col-25 clearpadding">
				<button class="button button-assertive button-full" style="margin:0;height:44px;" ng-click="addShopcar()">立即购买</button>
			</div>
		</div>
	</div>

