<div class="bar bar-header icon-left bar-stable">
  <button class="button icon ion-chevron-left" ng-click="back()"></button>
  <h1 class="title">修改密码</h1>
</div>
	<ion-content class="has-header">

	<form name="myform">
				  
		<label class="item item-input ">
			<span class="input-label">密码</span>
			<input type="password" placeholder="password" ng-model="userdata.pwd">
		</label>
		<label class="item item-input ">
			<span class="input-label">新密码</span>
			<input type="password" placeholder="password" ng-model="userdata.new_pwd">
		</label>
				<button class="button button-block button-positive" ng-click="getuser()">
		 			修改
				</button>
			</form>
</ion-content>